:root{
  --white: white;
  --black: black;
  --lt-gray: #f6f6f6;
  --med-gray: #EFEFEF;
  --bmv-red: #cf152d;
  --bmv-blue: #2b56d8;      
}
.gray{background: var(--lt-gray);}
.med-gray{background: var(--med-gray);}
.white{background: white;}

body {
  margin:0px !important;
  padding:0px !important;
  color: var(--black);
  font-size:16px;
  font-weight: 400;
  font-family: 'Source Sans Pro', sans-serif;
  background:var(--lt-gray)!important;
}
a, a:hover, a:focus{
  text-decoration: none!important;
}
header.row {
  margin-left:0px;
  margin-right:0px;
}

@keyframes focuslabel {
  from {font-size:1em;max-height:50px;line-height:50px;margin-top:0px;}
  to {font-size:.875em;max-height:20px;line-height:20px;margin-top:5px;}
}
@keyframes focusfield {
  from {margin-top:-50px; }
  to {margin-top:-25px;}
}
@keyframes shownav {
  from {display:none;left:-100vw; }
  to {display:flex;left:0px;}
}
@keyframes hidenav {
  from {opacity:1;left:0px; }
  to {opacity:0;left:-100vw;}
}



.hidenav {animation:none;}
.hideme {display:flex;}
nav.topnav {
  flex:1;
  display:flex;  
  justify-content:center;
  align-items:center;  
  height:60px;
  background:#fff;
  padding: 0 5% 0 5%;
}
nav.topnav a:hover {
  text-decoration:none;
  color:#000;
}
nav.topnav a.logo {
  display:flex;
  flex:0 142px;
}
nav.topnav a.logo img {max-height:30px;}
nav.topnav .navblock {
  display:flex;
  flex:0 calc(100% - 262px);
  justify-content:center;
  align-items:center;
}
  nav.topnav .navblock a.mnavclose {display:none;}
  nav.topnav .navblock a.item {display:flex;
    justify-content:center;
    align-items:center;
    flex:0 20%;
    font-size:1em;
    height:60px;
    color:#000;
    border-bottom:3px solid #fff;
    max-width:140px;
  }
  nav.topnav .navblock a.item:hover::after {
    content:"fiber_manual_record";
    font-family:"Material Icons";
    font-size:12px;
    position:absolute;
    padding-top:45px;
    color:#CF152D;
  }
nav.topnav .rightblock {
  display:flex;
  flex:0 120px;
}
nav.topnav .rightblock .item {
  height:44px;
  display:flex;
  flex:0 44px;
  justify-content:center;
  align-items:center;
  color:#000;
  min-width:44px;
}
nav.topnav .rightblock .item:hover {
  background:#f6f6f6;border-radius:22px;
}
nav.topnav a.mnavtrigger {display:none;}

.white-band {
  background:#fff;
  width:100%;
  padding: 60px 10%;
  padding-left:10%;
  padding-right:10%;
  padding-top:60px;
  padding-bottom:60px;
}
.fieldwrapper {
  display:flex;
  max-width:400px;
  justify-content:flex-start;
  flex-direction:column;
  height:55px;
  background:#f6f6f6;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
input.text {
  background:none;
  color:#000;
  border-left:0px;
  border-right:0px;
  border-top:0px;
  border-bottom:3px solid #000;
  height:55px;
  padding-top:25px;
  border-radius:0px;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:5px;
  flex:1;
  width:100%;
  margin:0px;
  margin-top:-50px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
}
label.text {
  flex:1;
  width:100%;
  font-size:1em;
  padding-left:15px;
  padding-right:15px;
  max-height:50px;
  line-height:50px;
  margin:0px;
}

.fieldwrapper:focus-within label.text {
  animation-duration: .5s;
  animation-name: focuslabel;
  font-size:.875em;
  line-height:20px;
  max-height:20px;margin-top:5px;
  color:#1f42ab;
}
.fieldwrapper input.text:focus {
  outline:none;
  animation-duration: .5s;
  animation-name: focusfield;
  margin-top:-25px;
  border-bottom-color:#1f42ab;
}

/*////////////// JESSE CSS ////////////////////////////////////////////*/
.content-band-full{
  width: 100%;
  margin: 50px 0;
}

.subpage-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 20px;
  background:#1F42AB;
}
.subpage-title{
  position: relative;
  padding: 0 0 0 10px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}
.subpage-title::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--bmv-red);
}

section.profile{
  display: flex;
  flex-direction: column;
  margin-top: -13px;
  padding: 30px 20px 60px;
  border-radius: 16px 16px 0 0;
  background: white;
}
.name{
  text-align: center;
  font-weight: 600;
  font-size: 40px;
  line-height: 36px;
}
.info-tile{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;;
  margin: 15px 0;
  border-radius: 10px;
}
.license-number{
  font-size: 36px;
  font-weight: 700;
}
.status-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.status{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  height: 36px;
  width: 100px;
  margin-right: 10px;
  border-radius: 20px;
}
.status-info{
  line-height: 0;
}
.status-icon{
  display: inline-block;
  margin: 4px 5px 0 9px;
}
.license-btn-box{
  display: flex;
  justify-content: space-between;
}
.license-btn-box > div:nth-child(1){
  margin-left: 0;
}
.license-btn-box > div:nth-child(2){
  margin-right: 0;
}
.license-edit-btn{
  position: relative;
  width: 50%;
  height: 73px;
  margin: 0 8px;
  border-radius: 10px;
  background: #f6f6f6;
}
.license-edit-btn > div:nth-child(1){
  padding: 10px 0 4px 20px;
}
.license-edit-btn > div:nth-child(2){
  padding: 0 0 0 20px;
  font-size: 22px;
  font-weight: 600;
}
.license-edit-btn::after{
  content: '';
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
  height: 24px;
  background: url(../img/SVG/edit-icon.svg) no-repeat;
}
a.btn-primary{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  margin-top: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 0;
  text-decoration: none;
  color: white;
  border-radius: 25px;
  background: var(--bmv-red);
}

.sub-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  border-radius: 16px 16px 0 0;
  padding: 0 20px;
  background: black;
}
section#vehicle > .sub-header{
  margin-top: -16px;
}
.section-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: -13px;
  border-radius: 16px 16px 0 0;
  padding: 40px 20px 50px;
}
.car-photo{
  display: flex;
  justify-content: center;
  margin: 0 0 20px 0;
}
.vehicle-make {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
}

.model-year {
  display: flex;
  justify-content: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 0;
  padding: 15px 0;
}
.vehicle-desc{
  display: flex;
  justify-content: center;
}
.vehicle-desc > div{
  padding: 0 10px;
  border-right: 1px solid #a1a1a1;
}
.vehicle-desc > div:nth-child(1){
  padding-left: 0;
  border-left: 0;
}
.vehicle-desc > div:nth-child(3){
  padding-right: 0;
  border-right: 0;
}
.divider{
  width: 80%;
  height: 1px;
  background: #e2e2e2;
  margin: 50px auto;
}





/*//// HOME /////////////////*/

.homepage-banner{
  position: relative;
  display: flex;
  width: 100%;
  max-height: 450px;
  margin-bottom: 20px;

  overflow: hidden;
}
.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  height: 275px;
  margin: 70px 0 0 65px;
}
.banner-title{
  position: relative;
  font-size: 48px;
  line-height: 51px;
  font-weight: 400;
  color: white;
  margin-bottom: 30px;
}
.banner-title::after{
    content: '';
    position: absolute;
    left: -26px;
    top: -14px;
    width: 45px;
    height: 45px;
    clip-path: ellipse(16% 16% at 19% 24%);
    background: var(--bmv-red);
    z-index: 0;
}

.banner-title > span{
  font-weight: 700;
}
.banner-subtitle{
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.home-search{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.home-search > .search-container{
  position: relative;
  z-index: 0;
}
input.search-field{
  width: 322px;
  height: 40px;
  padding: 0 20px 0 50px;
  border: 0;
  border-radius: 30px;
  margin: 10px 5px 0 0;
  outline: none;
  
}
.home-search > .search-container::after{
  content: '';
  position: absolute;
  top: 22px;
  left: 18px;
  width: 16px;
  height: 16px;
  background: url(../img/SVG/icon-search.svg) no-repeat;
  z-index: 1;
}
input.search-field::placeholder{
  font-size: 16px;
}
.search-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  border-radius: 28px;
  color: white;
  font-size: 18px;
  font-weight: 400;
  margin: 10px 10px 0 0;
  background: var(--bmv-red);
}



.clip-mask{
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 500px;
  clip-path: ellipse(66% 99% at 40% -9%);
  background: url(../img/header-photo.jpg) top right no-repeat #1f42ab;
  z-index: 1;
}
.red-swoosh{
  position: absolute;
  right: 0;
  width: 70%;
  height: 500px;
  clip-path: ellipse(81% 62% at 24% 28%);
  background: var(--bmv-red);
  z-index: 0;

}
.mask{
  float: right;
  width: 100%;
  max-height: 522px;
  -webkit-clip-path: url(#shape);
  clip-path: url(#shape);
  position: relative;
  -webkit-transform: translateZ(1px)

}


.register-ribbon{
  display: flex;
  align-items: center;
  padding: 5px 50px;
}
.reg-img-box{
  position: relative;
  width: 178px;
  height: 145px;
  z-index: 0;
}
.reg-text-box{
  width: 240px;
  font-weight: 700;
  font-size: 30px;
  line-height: 28px;
  margin: 0 50px;
}
.reg-text-box >span{
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}
.reg-img-box::before{  
  content: '';
  position: absolute;
  top: 7px;
  left: 28px;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: var(--med-gray);
  box-shadow: 0px 0px 60px 0px rgba(0,0,0, 0.2);  
  z-index: 0;

}
.reg-img{
  position: absolute;
  z-index: 2;
}
a.reg-btn-outline, a.reg-btn-outline:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 0 20px;
  margin: 0 10px;
  border-radius: 24px;
  border: 4px solid var(--bmv-red);
  color: var(--bmv-red);
  font-weight: 600;
}
a.reg-btn-solid, a.reg-btn-solid:hover{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  padding: 0 20px;
  margin: 0 10px;
  border-radius: 24px;
  font-weight: 600;
  color: white;
  background: var(--bmv-red);
}
.title-lrg{
  font-size: 34px;
  font-weight: 700;
  margin: 40px 55px 20px;
  line-height: 36px;
}
.homeNav{
  width: 100%;
  height: 100px;
  background: white;
}
.container{
  width: 100%;
  max-width: 1250px;
  padding: 0 20px;
  margin: 0 auto;
}
.container > .tile-row{
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row;
  justify-content: space-around; */

}
a.tile{
  display: block;
  position: relative;
  width: 32%;
  min-height: 210px;
  padding: 30px 0;
  margin: 20px;
  text-decoration: none;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  transition: all .3s ease-in-out;
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 25%;
}
a.tile::after{
  content: '';
  position: absolute;
  top: -8px;
  width: 100%;
  height: 8px;
  background: var(--bmv-blue);
  transition: all .25s ease-in-out;
}
a.tile:hover::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 8px;
  background: var(--bmv-blue);
}
a.tile:hover{
  text-decoration: none;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0, 0.05);
}
.tile-icon{
  position: absolute;
  top: 40px;
  right: 30px;
}
a.tile > .title{
  max-width: 241px;
  font-size: 28px;
  color: black;
  font-weight: 700;
  line-height: 34px;
  padding: 0 0 20px 40px;
}
a.tile > .title::after{
  content: '';
  position: absolute;
  top: 30px;
  left: 10px;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background: var(--bmv-red);
  opacity: 0;  
  transition: all .25s ease-in-out;
}
.tile-desciption{
  padding: 0 40px;
  color: black;
}

@media (max-width: 1200px){
  a.tile > .title {
    max-width: 210px;
    font-size: 25px;
    color: black;
    font-weight: 700;
    background: white;
    line-height: 30px;
    padding: 0 0 20px 30px;
  }
  .tile-icon {
    position: absolute;
    top: 28px;
    right: 25px;
    transform: scale(.8);
  }
  .tile-desciption {
    padding: 0 30px;
    color: black;
  }
}

@media (max-width: 992px){
  a.tile{
    display: block;
    position: relative;
    width: 32%;
    min-height: 210px;
    padding: 30px 0;
    margin: 20px;
    text-decoration: none;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    transition: all .3s ease-in-out;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 25%;
  }
a.tile > .title {
  max-width: 210px;
  font-size: 25px;
  color: black;
  font-weight: 700;
  background: white;
  line-height: 30px;
  padding: 0 0 20px 30px;
}
.tile-icon {
  position: absolute;
  top: 28px;
  right: 25px;
  transform: scale(.8);
  }
}
@media (max-width: 768px){

  a.tile{
    display: block;
    position: relative;
    width: 32%;
    min-height: 210px;
    padding: 30px 0;
    margin: 20px;
    text-decoration: none;
    border-radius: 4px;
    background: white;
    overflow: hidden;
    transition: all .3s ease-in-out;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: 35%;
  }
  .register-ribbon {
    display: flex;
    align-items: center;
    padding: 5px 50px;
  }
  .reg-img-box {
    position: relative;
    width: 250px;
    height: 145px;
    z-index: 0;
  }
  .reg-text-box {
    width: 299px;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    margin: 0 19px;
  }
  .reg-text-box >span {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
  }
  a.reg-btn-outline, a.reg-btn-outline:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 210px;
    padding: 0 20px;
    border-radius: 24px;
    border: 4px solid var(--bmv-red);
    color: var(--bmv-red);
    font-weight: 600;
  }
}
@media (min-width: 768px){  
  .container {
    width: 100%!important;
}
}

@media (max-width: 576px){
.homepage-banner {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 365px;
  margin-bottom: 0px;
  overflow: hidden;
}
.banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 275px;
  margin: 40px 0 0 0;
  text-align: center;
}
.banner-title {
  position: relative;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
}
.banner-title::after {
  content: '';
  position: absolute;
  left: 75px;
  top: -10px;
  width: 35px;
  height: 35px;
  clip-path: ellipse(16% 16% at 19% 24%);
  background: var(--bmv-red);
  z-index: 0;
}
.home-search {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
input.search-field {
  width: 288px;
  height: 40px;
  padding: 0 20px 0 50px;
  border: 0;
  border-radius: 30px;
  margin: 10px 5px 0 0;
  outline: none;
}
.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 115px;
  height: 40px;
  border-radius: 28px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 10px 0 0;
  background: var(--bmv-red);
}
.clip-mask {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 440px;
  clip-path: ellipse(116% 87% at 46% -9%);
  background: url(../img/header-photo.jpg) top right no-repeat #1f42ab;
  z-index: 1;
}
.red-swoosh {
  position: absolute;
  right: 0;
  width: 100%;
  height: 436px;
  clip-path: ellipse(111% 60% at 26% 23%);
  background: var(--bmv-red);
  z-index: 0;
}
.title-lrg {
  font-size: 27px;
  font-weight: 700;
  margin: 40px 30px 20px;
  line-height: 30px;
}
a.tile {
  display: block;
  position: relative;
  width: 40%;
  min-height: 210px;
  padding: 30px 0;
  margin: 10px 0;
  border-radius: 4px;
  background: white;
  overflow: hidden;
  transition: all .3s ease-in-out;
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 60%;
} 
.content-band-full {
  width: calc(100% - 40px);
  margin: 30px 20px;
}
.register-ribbon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
.reg-img-box {
  position: relative;
  width: 178px;
  height: 145px;
  z-index: 0;
}
.reg-text-box {
  width: 240px;
  font-weight: 700;
  font-size: 24px;
  line-height: 23px;
  margin: 12px 0px;
  text-align: center;
}
.reg-text-box >span {
  font-size: 19px;
  line-height: 27px;
}
a.reg-btn-outline, a.reg-btn-outline:hover {
  width: auto;
}


}
/*//// END JESSE CSS //////////////////////////////*/

@media (max-width: 62em) {

nav.topnav {
  justify-content:flex-start;
  padding-left:30px;
  padding-right:30px;
}
nav.topnav a.mnavtrigger {
  display:flex;
  flex:0 44px;
  justify-content:center;
  align-items:center;
  margin-right:44px;
  color:#000;
}
nav.topnav .navblock {
  display:flex;
  position:fixed;
  top:0px;
  left:0px;
  background:#fff;
  flex:1;
  height:100%;
  min-width:50%;
  max-width:80%;
  justify-content:flex-start;
  align-items:flex-start;
  flex-wrap:wrap;
  flex-direction:column;
}
nav.topnav .navblock.shownav {left:0px;}
nav.topnav .navblock a.mnavclose {
  display:flex;
  height:60px;
  justify-content:flex-start;
  align-items:center;
  color:#000;
  margin-left:30px;
}
nav.topnav .navblock a.item {
  display:flex;
  justify-content:flex-start;
  flex:1;
  margin-left:60px;
  margin-right:60px;
  min-width:calc(100% - 140px);
  align-items:center;
  max-height:44px;
  background:#f6f6f6;
  border-radius:22px;
  padding-left:20px;
}
nav.topnav .navblock a.item:hover::after {
  position:relative;
  font-size:16px;
  padding-top:0px;
  margin-left:auto;
  margin-right:0px;
}
nav.topnav a.logo {
  display:flex;
  flex:0 calc(100% - 178px);
  justify-content:center;
  align-items:center;
}

nav.topnav .rightblock {
  display:flex;
  flex:0 120px;
  justify-content:flex-end;
}
nav.topnav .rightblock a.item {
  flex:0 44px;
  height:44px;
  min-width:44px;
}

.shownav {
  animation:shownav .5s;
  display:flex !important;
}
.hidenav {
  animation:hidenav .5s;
}
.hideme {display:none !important;}
}


@media (max-width: 36em) {
  body {min-width:320px;}
nav.topnav .navblock {min-width:100%;}
nav.topnav {
  padding-left:10px;
  padding-right:10px;
}
}
